@charset "utf-8";
/*--顶部--*/
.header .top-header .m_search {
    float: left;
    height: 25px;
    margin-top: 8px;
    margin-left: 15px;
}
.header .top-header .m_name {
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 5px;

}
.header .top-header .m_name a{
    text-align: center;
    vertical-align:middle;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
}
.header .top-header .m_name img {
    float: right;
    margin-top: 5px;
    padding-left: 100px;
}
.header .top-header .m_news {
    text-align: right;
    margin-top: -22px;
    margin-right: 15px;
}

/*--end//顶部--*/
.clear:before,.clear:after{
    content: '';
    display: block;
    clear: both;
}
.top{
    margin-top: 8%;
    margin-bottom: 33px;
    margin-left: -5px;
    width: 100%;
    min-width: 320px;
}
.top .m_banner {
    width: 100%;
    max-width: 640px;
    max-height: 310px;
    overflow: hidden;
    background-size: contain;
    margin-left: -4px;
    margin-top: 10px;
    margin-bottom: -34px;
}
.top .m_banner a{
    width: 96%;
    margin: auto;
    padding: 8px;
}
.top .m_banner a img{
    width: 98%;
    margin: -10px 10px;
}
p{
    display: inline-block;
    position: relative;
    left: 17px;
    bottom: 19px;
    background-color: #f1f1f1;
    width: 96%;
    height: 20px;
    line-height: 20px;
}
p span{
    font-style: normal;
    color: #d1d1d1;
}
.left{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 12px;
}
.right{
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
    background: url("../images/icon/a1.png") no-repeat center center ;
    position: absolute;
    right: 35px;
    bottom: 0;
}
.right i{
    width: 20px;
    height: 20px;
    margin-right: -58px;

}
.right:hover{
    background: url("../images/icon/a2.png")no-repeat center center;
}
.centre{
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    background: url("../images/icon/a3.png") no-repeat center center ;
    position: absolute;
    right: 100px;
}
.centre i.one{
    width: 20px;
    height: 20px;
   margin-right: -60px;
    vertical-align: middle;
}









